# See https://help.github.com/articles/ignoring-files-for-a-continuous-integration-platform/ for examples of how to customize this file.

## Compiled output files:
dist/
build/

## Dependencies:
node_modules/

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Editor directories and files:
.idea/
*.swp
*.swo
*~
.DS_Store
